<!--
	This the front page of the site
	@link https://hexo.io/docs/templates.html

	Included via layout.ejs

	Includes _partials/excerpt.ejs
	Includes _partials/pagination.ejs
-->
<p class="tc">This is the index template</p>

<%- partial('_partials/post-excerpt') %>

<%- partial('_partials/pagination') %>