<!--
	Our layout wrapper
	@link https://hexo.io/docs/templates.html
	@link http://www.codeblocq.com/2016/03/Create-an-Hexo-Theme-Part-1-Index/
-->
<!DOCTYPE html>
<html lang="en">
	
	<%- partial('_partials/head') %>

	<body>
		
		<%- partial('_partials/header') %>

		<!-- Template content enters here -->
		<%- body %>

		<%- partial('_partials/footer') %>

	</body>
	
</html>